@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: inter ;
}

a {
    text-decoration: none;
    color : black;
}

a:hover {
    color:rgb(54, 54, 54);
}

/* Wrapper en position relative pour afficher le footer en bas de page */
#wrapper {
    position: relative;
    min-height: 100vh;
}

#mainpage {
    padding-bottom: 40px /*La taille du footer*/
}

/*****************HEADER AND NAV********************/

header {
    background-color: #9FAFE9;
    height: 90px;
    min-width: 100vh;
}

nav {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-size: 1.3em;

}



#nav-right {
    display : flex;
    flex-direction: row-reverse;
    padding-right: 10%;
}

#nav-left {
    padding-left: 10%;
}

#nav-right a {
    padding-left: 30px;
   
}

/*********************CONTENU DE LA PAGE************************/



#forum {
    margin: 30px 10% auto;
}

.button {
    background-color: #1A2138;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}

.button a {
    color: white;
}
/* Contient les listes + les titres des listes */
#generalContainer {
    max-width: 1000px;
    margin: auto;
}

 /* Contenaire des vues liste catégories et liste topics */

.listContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 30px;
    background-color: #DEE4F7;
    border-bottom: solid 1px #AEAEAE;
}

/* Les titres bleus des contenaires catégories et topics */
#title {
    height: 50px;
    background-color: #6E96E9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0px 0px;
    display:flex;
    align-items: center;
}

/* Boutton nouveau topic/Nouvelle catégorie */
.newList {
    margin-bottom : 30px;
    margin-left : 30px;
}


/***************** FOOTER ********************/

footer{
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: #9FAFE9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer a{
    text-decoration: underline;
  }



/***************** PAGE D'ACCUEIL ********************/

#accueil {
    
    text-align: center;
    width: 450px;
    margin: auto;
}

#accueil h1 {
    padding: 50px 0 20px 0;
}

#accueil p {
    margin-top: 30px;
}

#accueil a {

    color: #9FAFE9;
    font-size: 1.3em;

}

#accueil a:hover {
    color: #6E96E9;
}

/***************** Liste topics ********************/



#title h1 {
    padding-left: 40px;
    font-weight: 500;
    font-size: 1.3em;
}


.TitleAndCategory{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.listContainer h2 {
    font-weight: 500;
    font-size: 1.4em;
}

.creationDate {
    font-size: 0.6em;
    font-style: italic;
    padding-left: 20px;
}

.user {
    color: #6E96E9 ;
}






