@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: inter, Arial, Helvetica, sans-serif ;
}

a {
    text-decoration: none;
    color : black;
}

a:hover {
    color:rgb(54, 54, 54);
}

/* Wrapper en position relative pour afficher le footer en bas de page */
#wrapper {
    position: relative;
    min-height: 100vh;

}

#mainpage {
    
    padding-bottom: 40px /*La taille du footer*/
}

/*****************HEADER AND NAV********************/

header {
    background-color: #9FAFE9;
    height: 60px;
    min-width: 100%;
}

nav {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 1.2em;

}

#nav-right {
    display : flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 10%;
}

#nav-left {
    padding-left: 10%;
}

#nav-right a {
    padding: 0 10px;
    text-align: center;
    
}

/*********************CONTENU DE LA PAGE************************/

#forum {
    margin: 30px 10%;
}
/**********************Gestion des boutons*********************/
.button {
    background-color: #1A2138;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #1a21389c;
}

.button a {
    color: white;
}

/* Boutton nouveau topic/Nouvelle catégorie */
.newList {
    margin-bottom : 30px;
    margin-left : 30px;
}

/***********************Gestion de l'affichage des contens (présent sur toutes les pages)**********************************/

/* Contient les listes + les titres des listes */
#generalContainer {
    max-width: 1000px;
    margin: auto;
}

/* Les titres bleus des contenaires, on les retrouve sur toutes les pages */
.title {
    height: 50px;
    background-color: #6E96E9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0px 0px;
    display:flex;
    align-items: center;
}

.title h1 {
    padding-left: 40px;
    font-weight: 500;
    font-size: 1.3em;
}

/************************* Les conteneurs de listes **************/


/* Contenaire des vues liste catégories et liste topics, topics par catégories */
.listContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 30px;
    background-color: #DEE4F7;
    border-bottom: solid 1px #AEAEAE;
    min-height: 30px;
}

.listContainer h2 {
    font-weight: 500;
    font-size: 1.4em;
}


/* Contenu additionnel des conteneurs -> contient la date de création + bouton supprimer */
.additionnalContent {
    display: flex;
    flex-direction: row;
    font-size: 0.6em;
    font-style: italic;
    padding: 5px;
}

/*************************Conteneurs bleu (vue posts et formulaires)*****************/

#borderContainer {
    border-left: solid 3px #6E96E9;
    border-right:solid 3px #6E96E9;
    border-bottom: solid 3px #6E96E9;;
    padding: 0 5px 15px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
}

/***************** FOOTER ********************/

footer{
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: #9FAFE9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  footer a{
    text-decoration: underline;
  }



/***************** PAGE D'ACCUEIL ********************/

#accueil {
    
    text-align: center;
    width: 450px;
    margin: auto;
}

#accueil h1 {
    padding: 50px 0 20px 0;
}

#accueil p {
    margin-top: 30px;
}

#accueil a {

    color: #9FAFE9;
    font-size: 1.3em;

}

#accueil a:hover {
    color: #6E96E9;
}


/*******************Spécifique à chaque vue **********************/

/***************** Liste topics ********************/

.TitleAndCategory{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.user {
    color: #6E96E9 ;
}


/***********************Vue POST*****************************/

#postContainer{
    max-width: 1200px;
    margin: auto;
}
.postTitle {
    justify-content: space-between;
}

.LeftTitle p {
    padding-left: 40px;

}

/* bouton vérouillage topic */
.closedButton {
    
    border-radius: 5px;
    display: inline-block;
    margin-right: 40px;
    padding: 5px 10px;
}

.closedButton a{
    color: white;
}

.redButton {
    background-color: rgba(241, 55, 55, 0.7);
}

.redButton:hover {
    background-color: rgba(241, 55, 55, 0.4);
}

.greenButton {
    background-color: rgba(0, 128, 0, 0.7);
}

.greenButton:hover {
    background-color: rgba(0, 128, 0, 0.4);
}

/* Section qui contient la liste des messages */
.newPost {
    margin: 20px 35px; 

}

.messageContainer {
    display: flex;
    flex-direction: row;
    background-color: rgba(159, 175, 233, 0.34);
    margin-bottom: 5px;
}

.userInformations {
    text-align: center;
    background-color: rgba(100, 97, 97, 0.44);
    min-width: 195px;
    max-width: 195px;
    padding: 10px 0;
    margin: 5px;
    border-radius: 3px;
}

.inscriptionDate {

    font-size: 0.6em;
    font-style: italic;
}

.messageContent {
    padding-top: 5px;
}

.messageContent h3 {
    font-weight: 500 ;
    padding-bottom: 10px;
}

.content{
    padding-right: 5px;
    padding-bottom: 15px;
}

/********************* FORMULAIRES ********************/

textarea {

    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 350px;
}

.submitButton {
    color: white;
    width: 100px;
    font-size: 1em;
    height: 40px;
    border-radius: 5px;
    background-color: #1A2138;
    margin: 15px auto 0 auto;
}


/* Formulaire nouveau post */

.formPost{
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    
}


/* Formulaire nouveau topic et catégorie */

.formContainerCat{
    max-width: 800px;
    margin: auto;
}

.formContainerTopic{
    max-width: 1000px;
    margin: auto;
}

.formTopicAndCat {

    display: flex;
    flex-direction: column;
}

.formTopicAndCat div{
    padding: 10px 15px 0 15px;
}

.formTopicAndCat label {
    font-weight: 500;
    
}

.newCatLink{
    font-style: italic;
    color: #AEAEAE;
    font-size: 0.8em;
    padding-top: 5px;
}

.TopicTextArea{
    margin-top: 5px;
}

.inputField {
    height: 22px;
    font-size: 1em;
}

.newTitle{
    min-width: 100%;
    margin-top: 5px;
}

/* Formulaires inscription et connexion */

.registerAndLoginContainer{
    max-width: 400px;
    margin: auto;
}

/* register and Login form */
.RALform {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.RALform label{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px; 
}

.information{
    color: #AEAEAE;
}


/***********************************************Vue viewProfil*******************************************************************/

.ProfilContainer{
    max-width: 400px;
    margin: auto;
}

