<div id="title">
    <h1>Inscription</h1>
</div>

<div id="borderPost">

   <form action="index.php?ctrl=security&action=login" method="post">

        <div>
            <label for="email"> adresse e-mail 
                <input type="text" name="email" id="email">
            </label>
        </div>
        <div>
            <label for="password"> mot de passe  
                <input type="password" name="password" id="password">
            </label>
        </div>

        <div>
            <input type="submit" value="Envoyer" name="submitLogin">
        </div>

       </form> 