<div class="registerAndLoginContainer">

    <div class="title">
        <h1>Connexion</h1>
    </div>

    <div id="borderContainer">

        <form action="index.php?ctrl=security&action=login" method="post" class="RALform">

                <label for="email"> adresse e-mail </label>
                    <input type="text" name="email" id="email" class="inputField" minlength="10" maxlength="50">
                

                <label for="password"> mot de passe </label> 
                    <input type="password" name="password" id="password" class="inputField" minlength="4" maxlength="16">
                



                <input type="submit" value="Envoyer" name="submitLogin" class="submitButton">


        </form> 
    </div>
</div>
