<div class="title">
    <h1>Inscription</h1>
</div>

<div id="borderContainer">

   <form action="index.php?ctrl=security&action=register" method="post">

    <div>
        <label for="pseudo"> pseudo 
            <input type="text" name="pseudo" id="pseudo">
        </label>
    </div>
    <div>
        <label for="email"> adresse e-mail 
            <input type="text" name="email" id="email">
        </label>
    </div>
    <div>
        <label for="password"> mot de passe  
            <input type="password" name="password" id="password">
        </label>
    </div>
    <div>
        <label for="checkPassword"> confirmation du mot de passe 
            <input type="password" name="checkPassword" id="checkPassword">
        </label>
    </div>

    <div>
        <input type="submit" value="Envoyer" name="submitRegistration">
    </div>


   </form> 

